# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env
*.egg-info/
*.egg
*.venv/
venv/
.env

# FastAPI / Pydantic / IDE
.idea/
.vscode/
*.log

# Docker
*.dockerignore
docker-compose.override.yml
**/Dockerfile.*
**/docker-compose.override.yml
*.swp
*.tmp



# SQLAlchemy / DB
*.db
*.sqlite

# Misc
*.DS_Store
*.pytest_cache/
*.coverage
htmlcov/
